body {
    font-family: 'Arial', sans-serif;
}

#preview {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#layer1, #layer2, #layer3, #layer4 {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the image fits within the container without cropping */
    object-position: center;
}

#layer1Container, #layer2Container, #layer3Container, #layer4Container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#layer1, #layer2, #layer3, #layer4 {
    mix-blend-mode: multiply; /* Ensures the color blending */
}
